CRNN+CTC/checkpoints/best_model_final.pth filter=lfs diff=lfs merge=lfs -text
CRNN+CTC/checkpoints/best_model_iam.pth filter=lfs diff=lfs merge=lfs -text
CRNN+CTC/checkpoints/best_model_v2.pth filter=lfs diff=lfs merge=lfs -text
CRNN+CTC/checkpoints/best_model_v3.pth filter=lfs diff=lfs merge=lfs -text
CRNN+CTC/checkpoints/best_model_v4.pth filter=lfs diff=lfs merge=lfs -text
CRNN+CTC/checkpoints/best_model_v5.pth filter=lfs diff=lfs merge=lfs -text
CRNN+CTC/checkpoints/best_model_v6.pth filter=lfs diff=lfs merge=lfs -text
CRNN+CTC/checkpoints/best_model_v7.pth filter=lfs diff=lfs merge=lfs -text
CRNN+CTC/checkpoints/best_model_v732.pth filter=lfs diff=lfs merge=lfs -text
CRNN+CTC/checkpoints/best_model.pth filter=lfs diff=lfs merge=lfs -text
CRNN+CTC/checkpoints/checkpoint_epoch_10.pth filter=lfs diff=lfs merge=lfs -text
CRNN+CTC/checkpoints/latest_checkpoint.pth filter=lfs diff=lfs merge=lfs -text
MNB/models/mnb_classifier.pkl filter=lfs diff=lfs merge=lfs -text
MNB/models/tfidf_vectorizer.pkl filter=lfs diff=lfs merge=lfs -text
references/12 filter=lfs diff=lfs merge=lfs -text
references/321 filter=lfs diff=lfs merge=lfs -text
references/321321 filter=lfs diff=lfs merge=lfs -text
references/old.jpg filter=lfs diff=lfs merge=lfs -text
references/reference-102.png filter=lfs diff=lfs merge=lfs -text
references/reference-103.png filter=lfs diff=lfs merge=lfs -text
references/reference-97.png filter=lfs diff=lfs merge=lfs -text
spacyNER/models/civil_registry_model/model-best/ner/model filter=lfs diff=lfs merge=lfs -text
spacyNER/models/civil_registry_model/model-best/tok2vec/model filter=lfs diff=lfs merge=lfs -text
spacyNER/models/civil_registry_model/model-best/vocab/key2row filter=lfs diff=lfs merge=lfs -text
spacyNER/models/civil_registry_model/model-best/vocab/vectors filter=lfs diff=lfs merge=lfs -text
spacyNER/models/civil_registry_model/model-last/ner/model filter=lfs diff=lfs merge=lfs -text
spacyNER/models/civil_registry_model/model-last/tok2vec/model filter=lfs diff=lfs merge=lfs -text
spacyNER/models/civil_registry_model/model-last/vocab/key2row filter=lfs diff=lfs merge=lfs -text
spacyNER/models/civil_registry_model/model-last/vocab/vectors filter=lfs diff=lfs merge=lfs -text
spacyNER/models/phase1_funsd/model-best/ner/model filter=lfs diff=lfs merge=lfs -text
spacyNER/models/phase1_funsd/model-best/tok2vec/model filter=lfs diff=lfs merge=lfs -text
spacyNER/models/phase1_funsd/model-best/vocab/key2row filter=lfs diff=lfs merge=lfs -text
spacyNER/models/phase1_funsd/model-best/vocab/vectors filter=lfs diff=lfs merge=lfs -text
spacyNER/models/phase1_funsd/model-last/ner/model filter=lfs diff=lfs merge=lfs -text
spacyNER/models/phase1_funsd/model-last/tok2vec/model filter=lfs diff=lfs merge=lfs -text
spacyNER/models/phase1_funsd/model-last/vocab/key2row filter=lfs diff=lfs merge=lfs -text
spacyNER/models/phase1_funsd/model-last/vocab/vectors filter=lfs diff=lfs merge=lfs -text
